.container {
    display: flex;
       border: 1px solid rgb(0, 136, 255);
    background-color: rgb(243, 53, 151);
    width: 600px;
     grid-column-start: 8;
     grid-column-end: 9;
     grid-row-end: 10;
}

.box1 {
    border: 1px solid red;
    background-color: chartreuse;
    height: 200px;
    width: 700px;
}

.box2 {
    border: 1px solid rgb(0, 136, 255);
    background-color: rgb(243, 53, 151);
    width: 500px;
     grid-column-start: 6;
     grid-column-end: 7 ;
     grid-row-end: 5;
}


.box3 {
    width:900px;
    background-color: red;
     grid-column-start: 2;
     grid-column-end: (5,8) ;
     grid-row-end: 5;
}

.box4 {
    border: 1px solid red;
    background-color: rgb(255, 136, 0);
    width: 700px;
}
