.container {
    /* background-color: aqua; */
    display: flex;
    border: 1px solid rgb(255, 247, 0);
    background-color: chartreuse;
}

.child1 {
    border: 1px solid red;
    background-color: chartreuse;
    height: 200px;
    width: 200px;
}

.child2 {
    border: 1px solid rgb(0, 136, 255);
    background-color: rgb(255, 0, 132);
    width: 200px;
}

.child3 {
    border: 1px solid red;
    background-color: rgb(0, 221, 255);
    width: 200px;
}

.child4 {
    border: 1px solid red;
    background-color: rgb(255, 136, 0);
    width: 200px;
}
